# 1. Variable Assignment

In [11]:
portfolio_1 = 5000

In [15]:
portfolio_1

5000

In [13]:
portfolio_2 = 2000.5

In [16]:
portfolio_2

2000.5

In [17]:
portfolio_2 = 3000.5

In [18]:
portfolio_2

3000.5

In [19]:
type(portfolio_1)

int

In [20]:
type(portfolio_2)

float

### Mini Challenge #1:

In [21]:
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

### Mini Challenge #2:

In [22]:
AAPL = 112
APPL = 115.3
type(APPL)

float

# 2. Math Operations

In [23]:
APPL = 5
APPL += 1
APPL

6

In [24]:
APPL_count = 5
APPL_price = 260
account_balance = APPL_count * APPL_price
account_balance

1300

In [25]:
account_balance = 20000
AMZN_price = 3116
units = account_balance // AMZN_price
units

6

### Mini Challange #3:

In [32]:
units = 15
GOOG_price = 1500
total_value = units * GOOG_price
total_value

22500

### Mini Chanllange #4:

In [29]:
GOOG_price_day1 = 260
GOOG_price_day2 = 280
price_diff = GOOG_price_day2 - GOOG_price_day1
#returns = units * price_diff
percentage_change = price_diff / GOOG_price_day1 * 100
percentage_change

7.6923076923076925

# 3. Order of Operations (Precedence)

In [30]:
(3 + 4) * 5

35

### Mini Challenge #5:

In [34]:
units = 15
AAPL_price1 = 150
AAPL_price2 = 170
profit = 15 * (AAPL_price2 - AAPL_price1)
profit

300

### Mini Challenge #6:

In [37]:
x = -3
y = 5
z = abs(x - y) * (x + y)
z

16

# 4. Print Operation

In [38]:
x = 'Python is fun'
print(x)

Python is fun

In [39]:
apple_company = 'Apple Inc.'
print(apple_company)

Apple Inc.

In [42]:
me = 'Steve'
print('Hello {}!'.format(me))

Hello Steve!

In [41]:
hoppy = 'programming'
print(f'Hi I am {me} and I like {hoppy}')

Hi I am Steve and I like programming

### Mini Challenge #7:

In [44]:
ticker = 'APPL'
shares = 30
print(f'I own {shares} shares of Apple Inc.({ticker})')

I own 30 shares of Apple Inc.(APPL)

# 5. Get User Input

In [49]:
name = input('Please enter your name: ')
age = input('Enter your age: ')
networth = input('Enter your assets: ')
print(f'My name is {name}, I am {age} years old, and my estimated networth is {networth}')

Please enter your name: steve kim
Enter your age: 33
Enter your assets: 5500
My name is steve kim, I am 33 years old, and my estimated networth is 5500

In [53]:
x = input('Enter price of AAPL stock today: ')
y = input('Enter the number of AAPL stocks that you want to buy: ')
print(f'Total funds requred to buy {y} shares of AAPL stocks at {x} is {float(x)*float(y)}')

Enter price of AAPL stock today: 50
Enter the number of AAPL stocks that you want to buy: 666
Total funds requred to buy 666 shares of AAPL stocks at 50 is 33300.0

### Mini Challange #8:

In [55]:
price = float(input('Enter the price of the stock you want to buy: '))
shares = float(input('Enter the number of stocks that you want to buy: '))
ticker = input('Enter the name of the stock that you wnat to buy: ')
print(f'The total funds requried to buy {shares} number of {ticker} stocks at {price} is {price*shares}')

Enter the price of the stock you want to buy: 3000
Enter the number of stocks that you want to buy: 5
Enter the name of the stock that you wnat to buy: AMZN
The total funds requried to buy 5.0 number of AMZN stocks at 3000.0 is 15000.0